.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out 0s;
}

.footer__column-link:hover {
  opacity: 0.5;
}
